.row {
    display: flex;
    justify-content: center;
}
.square {
    width: 30px;
    height: 30px;
    border: 1px solid black;
    background-color: white;
    font-size: 15px;
}
.square0 {
    height: 30px;
}
h1 {
    text-align: center;
}
.buttonback {
    width: 100px;
    background-color: darkgreen;
    color: aliceblue;
    border-radius: 10px;
    height: 30px;
    font-size: 15px;
    font-weight: bold;
    margin-top: 20px;
}

.body{
    display: flex;
    justify-content: center;
    position: relative;
    z-index: 0;
}
.ctrTable {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 200px;
    background-color: blueviolet;
    border-radius: 20px;
    margin-left: 25px;
    margin-top: 85px;
}
.winner-overlay {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    background: rgba(255, 255, 255, 0.8); /* Nền mờ */
    display: flex;
    justify-content: space-between;
  }
  .comment0{
    position: absolute;
  }
  .comment {
    font-family: 'Cursive', sans-serif;
  font-size: 40px;
  color: #FF69B4; /* Màu hồng nổi bật */
  text-shadow: 3px 3px 5px rgba(0, 0, 0, 0.3); /* Hiệu ứng bóng chữ */
  letter-spacing: 2px; /* Khoảng cách giữa các ký tự */
  animation: glow 1.5s ease-in-out infinite alternate; /* Hiệu ứng phát sáng */
  margin-top: 20px;
  background-color: #ffffff;
  }
  @keyframes glow {
    from {
      text-shadow: 3px 3px 5px rgba(0, 0, 0, 0.3), 0 0 10px #FF69B4, 0 0 20px #FF69B4, 0 0 30px #FF69B4, 0 0 40px #FF69B4;
    }
    to {
      text-shadow: 3px 3px 5px rgba(0, 0, 0, 0.3), 0 0 20px #FF69B4, 0 0 30px #FF69B4, 0 0 40px #FF69B4, 0 0 50px #FF69B4;
    }
  }
.birthday {
    display: flex;
}
.vuongmien 
{
    width: 200px;
}
